In [128]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [129]:
import openpyxl

from os import listdir
from os.path import isfile, join
folder_path = r'C:\Users\t5s\03-NGER-2019-20\06-Models\01. Models - file testing\test-defined-names'
workbook_filenames = [f for f in listdir(folder_path) if isfile(join(folder_path, f))]

for workbook_file_raw in workbook_filenames:
    if (not "not-working.xlsx" in workbook_file_raw):
        continue
    workbook_file = f"{folder_path}\\{workbook_file_raw}"
    print(workbook_file)
    workbook = openpyxl.load_workbook(workbook_file)
    workbook.save(workbook_file.replace('.xlsx', '-test.xlsx'))
    
print("done")

C:\Users\t5s\03-NGER-2019-20\06-Models\01. Models - file testing\test-defined-names\example-not-working.xlsx
done

## Tasks

1. Get all raw data and save it in a folder

2. Load each of the data sets into pandas dataframes 

3. Transform each of the dataframes so they have the same columns: Site Code, Analyte Name, Result Numeric Value (done)

4. Merge the dataframes keeping only those three columns (done - how do we know if it correct. Also, create another column once the data is copied and pasted in the WSAA models then it returns false for the data is not using)

5. Update all the model spreadsheets so that it has the site code on row 6

6. Handle the rainfall data

7. Gas data (flared and captured totals) from raw data

In [130]:
!pip install pandas openpyxl
import pandas as pd
import openpyxl

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [131]:
df_cod_sludge_all_plants = pd.read_excel(r'C:\Users\t5s\03-NGER-2019-20\04-Data\09. Raw data from BI\02.COD_Sludge_Report_All_Plants___3405889___4997980.xlsx')
df_rainfall = pd.read_excel(r'C:\Users\t5s\03-NGER-2019-20\04-Data\09. Raw data from BI\WRP_&_WWTP_Flow_and_Rainfall_Measures-_Date_Range_Report___4997986.xlsx')
df_general_report = pd.read_excel(r'C:\Users\t5s\03-NGER-2019-20\04-Data\09. Raw data from BI\01.General_Report_II_NGER_V1___3407357___4290327.xlsx')
df_scada = pd.read_excel(r'C:\Users\t5s\03-NGER-2019-20\04-Data\09. Raw data from BI\03.SCADA_Point_Analysis_Data___2826833___3405873___4997983.xlsx')
df_biosolids = pd.read_excel(r'C:\Users\t5s\03-NGER-2019-20\04-Data\09. Raw data from BI\04.Biosolids.xlsx')

df_cod_sludge_all_plants['data_source'] = 'COD Sludge'
df_general_report['data_source'] = 'General report'
df_scada['data_source'] = 'SCADA'
df_biosolids['data_source'] = 'Biosolids'
# raw_data = pd.concat([df1, df2, df])

In [132]:
df_general_report.head()

,Calendar Date,Customer Code,Compliance Code,Delivery System Code,Sample Received Date,Client Sample ID,LIMS Sample Status Code,Sample Description,Water Type Code,Analyte Name,...,Result Calculated Value,Test Comment,LIMS Result Status Code,Test List Identifier,Sampling Point Location Name,Assignment Description,Analyte ID,Sampling Point Description,Sample Time,data_source
0,2019-07-07 00:00:00,20026906,y,NaN,2019-07-08,NaN,A,NaN,,Ammonia NH3-N,...,36.4,NaN,A,SSCOMPO,Cronulla WWTP Influent EPA ID No. 100,NaN,3335NH3,Sampling Point - Cronulla WWTP Influent EPA ID...,00:00:00,General report
1,2019-09-05 00:00:00,20026906,y,NaN,2019-09-06,NaN,A,NaN,,Ammonia NH3-N,...,48.2,NaN,A,SSCOMPO,Cronulla WWTP Influent EPA ID No. 100,NaN,3335NH3,Sampling Point - Cronulla WWTP Influent EPA ID...,00:00:00,General report
2,2019-08-06 00:00:00,LBLSTP,S,NaN,2019-08-08,NaN,A,NaN,,Ammonia NH3-N,...,NaN,NaN,X,SSCOMPO,Cronulla WWTP Influent EPA ID No. 100,NaN,3335NH3,Sampling Point - Cronulla WWTP Influent EPA ID...,00:00:00,General report
3,2019-08-08 00:00:00,LBLSTP,S,NaN,2019-08-09,NaN,A,NaN,,Ammonia NH3-N,...,79.6,NaN,A,SSCOMPO,Cronulla WWTP Influent EPA ID No. 100,NaN,3335NH3,Sampling Point - Cronulla WWTP Influent EPA ID...,00:00:00,General report
4,2019-10-05 00:00:00,LBLSTP,S,NaN,2019-10-06,NaN,A,NaN,,Ammonia NH3-N,...,40.2,NaN,A,SSCOMPO,Cronulla WWTP Influent EPA ID No. 100,NaN,3335NH3,Sampling Point - Cronulla WWTP Influent EPA ID...,00:00:00,General report

In [133]:
df_general_report.columns

Index(['Calendar Date', 'Customer Code', 'Compliance Code',
       'Delivery System Code', 'Sample Received Date', 'Client Sample ID',
       'LIMS Sample Status Code', 'Sample Description', 'Water Type Code',
       'Analyte Name', 'Result Value', 'Result Sample Date', 'Site Code',
       'STP Name', 'Metrix ID', 'Subsite Name', 'Sampling Point Address',
       'Sampling Point Suburb', 'Sampling Point Service Reservoir',
       'Result Value UOM', 'Assignment Number', 'Distribution System Code',
       'Supply Zone Code', 'WSC Reportable Indicator', 'Result Numeric Value',
       'Result Calculated Value', 'Test Comment', 'LIMS Result Status Code',
       'Test List Identifier', 'Sampling Point Location Name',
       'Assignment Description', 'Analyte ID', 'Sampling Point Description',
       'Sample Time', 'data_source'],
      dtype='object')

In [134]:
len(df_general_report)

14202

In [135]:
# Get names of indexes for which LIMS_Result_Status_Code is not A - authorise
LIMS_Result_Status_Code = df_general_report[df_general_report['LIMS Result Status Code'] != 'A' ].index
# Delete these row indexes from dataFrame
df_without_unauthorized_data = df_general_report.drop(LIMS_Result_Status_Code)

len(df_without_unauthorized_data)

12526

In [136]:
df_processed_general_report = df_without_unauthorized_data.copy()

df_processed_general_report['Site Code'] = df_processed_general_report["Subsite Name"]

analyte_name_mapping = {
#     "Chemical Oxygen Demand": "COD"
}

def map_analyte_name(original_analyte_name):
    if (original_analyte_name in analyte_name_mapping.keys()):
        return analyte_name_mapping[original_analyte_name]
    return original_analyte_name

In [137]:
len(df_processed_general_report)

12526

In [138]:
df_processed_general_report['Analyte Name'] = df_processed_general_report['Analyte Name'].apply(map_analyte_name)

df_processed_general_report.drop(df_processed_general_report.columns.difference(['data_source', 'Site Code','Analyte Name', 'Result Numeric Value', 'Result Sample Date']), 1, inplace=True)

df_processed_general_report.dropna(inplace=True)

df_processed_general_report.query("`Analyte Name` != 'Total Nitrogen'")

,Analyte Name,Result Sample Date,Site Code,Result Numeric Value,data_source
0,Ammonia NH3-N,2019-07-07,CR0100,36.4,General report
1,Ammonia NH3-N,2019-09-05,CR0100,48.2,General report
3,Ammonia NH3-N,2019-08-08,CR0100,79.6,General report
4,Ammonia NH3-N,2019-10-05,CR0100,40.2,General report
5,Ammonia NH3-N,2019-11-04,CR0100,49.5,General report
...,...,...,...,...,...
13830,CBOD5,2020-06-11,NR0004,2.0,General report
13831,CBOD5,2020-06-23,NR0004,2.0,General report
13832,CBOD5,2020-06-18,NR0004,2.0,General report
13833,CBOD5,2020-06-19,NR0004,2.0,General report
13834,CBOD5,2020-06-17,NR0004,2.0,General report

In [139]:
df_biosolids_melt = pd.melt(df_biosolids, id_vars=['STP Name', 'Product Name', 'Date'], value_vars=['Total Solids %','Volatile solids','Total Nitrogen'])

In [140]:
df_biosolids_melt.head()

     STP Name Product Name       Date        variable  value
0     Malabar    Dewatered 2019-07-01  Total Solids %  30.72
1  Wollongong    Dewatered 2019-07-01  Total Solids %  22.55
2       Bondi    Dewatered 2019-07-01  Total Solids %  24.63
3   Liverpool    Dewatered 2019-07-04  Total Solids %  27.81
4  Warriewood    Dewatered 2019-07-04  Total Solids %  22.09

In [141]:
df_processed_biosolids = df_biosolids_melt.copy()

df_processed_biosolids['Site Code'] = df_processed_biosolids["STP Name"]
df_processed_biosolids['Result Numeric Value'] = df_processed_biosolids["value"]
df_processed_biosolids['Result Sample Date'] = df_processed_biosolids["Date"]


analyte_name_mapping = {
   # "BioGas Methane Conc Avg": "% Methane"
}

def map_analyte_name(original_analyte_name):
    if (original_analyte_name in analyte_name_mapping.keys()):
        return analyte_name_mapping[original_analyte_name]
    return original_analyte_name

df_processed_biosolids['Analyte Name'] = df_processed_biosolids['variable'].apply(map_analyte_name)

In [142]:
df_processed_biosolids = df_biosolids_melt.copy()

df_processed_biosolids['Site Code'] = df_processed_biosolids["STP Name"]
df_processed_biosolids['Result Numeric Value'] = df_processed_biosolids["value"]
df_processed_biosolids['Result Sample Date'] = df_processed_biosolids["Date"]


analyte_name_mapping = {
   # "BioGas Methane Conc Avg": "% Methane"
}

def map_analyte_name(original_analyte_name):
    if (original_analyte_name in analyte_name_mapping.keys()):
        return analyte_name_mapping[original_analyte_name]
    return original_analyte_name

df_processed_biosolids['Analyte Name'] = df_processed_biosolids['variable'].apply(map_analyte_name)
df_processed_biosolids['data_source'] = df_processed_biosolids.apply(lambda row: f"biosolids_{row['Product Name']}", axis=1)

df_processed_biosolids.drop(df_processed_biosolids.columns.difference(['data_source', 'Site Code','Analyte Name', 'Result Numeric Value', 'Result Sample Date']), 1, inplace=True)

df_processed_biosolids.dropna(inplace=True)

df_processed_biosolids.query("`Analyte Name` != 'Total Nitrogen'")

,Site Code,Result Numeric Value,Result Sample Date,Analyte Name,data_source
0,Malabar,30.72,2019-07-01,Total Solids %,biosolids_Dewatered
1,Wollongong,22.55,2019-07-01,Total Solids %,biosolids_Dewatered
2,Bondi,24.63,2019-07-01,Total Solids %,biosolids_Dewatered
3,Liverpool,27.81,2019-07-04,Total Solids %,biosolids_Dewatered
4,Warriewood,22.09,2019-07-04,Total Solids %,biosolids_Dewatered
...,...,...,...,...,...
1071,Shellharbour,76.07,2020-06-26,Volatile solids,biosolids_Dewatered
1072,Malabar,58.75,2020-06-27,Volatile solids,biosolids_Dewatered
1073,North Head,68.07,2020-06-28,Volatile solids,biosolids_Dewatered
1074,Cronulla,74.60,2020-06-29,Volatile solids,biosolids_Dewatered
1075,Bombo,76.45,2020-06-29,Volatile solids,biosolids_Dewatered

In [143]:
df_processed_cod_sludge_report = df_cod_sludge_all_plants.copy()

df_processed_cod_sludge_report['Site Code'] = df_processed_cod_sludge_report["Sampling Point Identifier"]

analyte_name_mapping = {
#     "Chemical Oxygen Demand": "COD"
}

def map_analyte_name(original_analyte_name):
    if (original_analyte_name in analyte_name_mapping.keys()):
        return analyte_name_mapping[original_analyte_name]
    return original_analyte_name

df_processed_cod_sludge_report['Analyte Name'] = df_processed_cod_sludge_report['Result Name'].apply(map_analyte_name)

df_processed_cod_sludge_report.drop(df_processed_cod_sludge_report.columns.difference(['data_source', 'Site Code','Analyte Name', 'Result Numeric Value', 'Result Sample Date', 'LIMS Sample Status Code']), 1, inplace=True)

df_processed_cod_sludge_report.dropna(inplace=True)

df_processed_cod_sludge_report.query("`Analyte Name` != 'Total Nitrogen'")

,Result Sample Date,Result Numeric Value,data_source,Site Code,Analyte Name
0,2020-06-25 00:00:00,128.00,COD Sludge,CR0100,FCOD
1,2020-06-25 00:00:00,174.00,COD Sludge,MA0007,FCOD
2,2020-06-26 00:00:00,93.00,COD Sludge,WOPKRM,FCOD
3,2020-06-26 00:00:00,157.00,COD Sludge,BOILET,FCOD
4,2020-06-17 00:00:00,208.00,COD Sludge,RMILET,FCOD
...,...,...,...,...,...
8206,2019-08-22 00:00:00,92.19,COD Sludge,DLPI,Volatile solids
8207,2019-07-09 00:00:00,72.29,COD Sludge,SHDG2M,Volatile solids
8208,2019-07-09 00:00:00,68.98,COD Sludge,WODG5M,Volatile solids
8209,2019-07-09 00:00:00,77.30,COD Sludge,DRH,Volatile solids
8210,2019-07-08 00:00:00,77.63,COD Sludge,DWWI,Volatile solids

In [144]:
df_processed_general_report.head()

,Analyte Name,Result Sample Date,Site Code,Result Numeric Value,data_source
0,Ammonia NH3-N,2019-07-07,CR0100,36.4,General report
1,Ammonia NH3-N,2019-09-05,CR0100,48.2,General report
3,Ammonia NH3-N,2019-08-08,CR0100,79.6,General report
4,Ammonia NH3-N,2019-10-05,CR0100,40.2,General report
5,Ammonia NH3-N,2019-11-04,CR0100,49.5,General report

In [145]:
df_processed_scada_report = df_scada.copy()

df_processed_scada_report['Site Code'] = df_processed_scada_report["Site"]
df_processed_scada_report['Result Numeric Value'] = df_processed_scada_report["Measurement Result Value"]
df_processed_scada_report['Result Sample Date'] = df_processed_scada_report["Measurement Result Date"]


analyte_name_mapping = {
   # "BioGas Methane Conc Avg": "% Methane"
}

def map_analyte_name(original_analyte_name):
    if (original_analyte_name in analyte_name_mapping.keys()):
        return analyte_name_mapping[original_analyte_name]
    return original_analyte_name

df_processed_scada_report['Analyte Name'] = df_processed_scada_report['Point Name'].apply(map_analyte_name)

df_processed_scada_report.drop(df_processed_scada_report.columns.difference(['data_source', 'Site Code','Analyte Name', 'Result Numeric Value', 'Result Sample Date']), 1, inplace=True)

df_processed_scada_report.dropna(inplace=True)

df_processed_scada_report.query("`Analyte Name` != 'Total Nitrogen'")

,data_source,Site Code,Result Numeric Value,Result Sample Date,Analyte Name
0,SCADA,ST0001 BONDI,18205.000000,2019-07-01 23:59:00,BioGas To CoGen Daily Mass
1,SCADA,ST0002 MALABAR,22822.500000,2019-07-01 23:59:00,BioGas To Waste Burner Daily Mass
2,SCADA,ST0002 MALABAR,0.000000,2019-07-01 23:59:00,Digester 1 BioGas Production Daily Mass
3,SCADA,ST0002 MALABAR,1734.250000,2019-07-01 23:59:00,Raw Sludge Combined Daily Volume
4,SCADA,ST0009 LIVERPOOL,65.101549,2019-07-01 03:30:00,Methane To CoGen Flow
...,...,...,...,...,...
821641,SCADA,ST0027 SHELLHARBOUR,2377.820700,2020-06-30 17:00:00,Biogas Production Daily Total
821642,SCADA,ST0027 SHELLHARBOUR,3029.802539,2020-06-30 22:15:00,Biogas Production Daily Total
821643,SCADA,ST0027 SHELLHARBOUR,3169.673714,2020-06-30 23:15:00,Biogas Production Daily Total
821644,SCADA,ST0028 WEST CAMDEN,47.203125,2020-06-30 23:59:00,TWAS to Anaerobic Digester Daily Volume
821645,SCADA,ST0046 PENRITH,155.074219,2020-06-30 23:59:00,Raw Sludge Combined Daily Volume

In [146]:
import pandas

df_master = pd.concat([df_processed_general_report,df_processed_scada_report,df_processed_cod_sludge_report,df_processed_biosolids])
df_master.head()
df_master.tail()

df_master['Analyte Name'].unique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

array(['Ammonia NH3-N', 'Total Phosphorus', 'Total Nitrogen', 'CBOD5',
       'Chemical Oxygen Demand', 'Nitrate', 'Nitrite',
       'Total Kjedahl Nitrogen', 'BOD5', 'Volatile solids', 'CODsludge',
       'Total solids', 'BioGas To CoGen Daily Mass',
       'BioGas To Waste Burner Daily Mass',
       'Digester 1 BioGas Production Daily Mass',
       'Raw Sludge Combined Daily Volume', 'Methane To CoGen Flow',
       'Methane To Heaters Flow', 'Methane To Waste Burner Flow',
       'Primary and TWAS To Anaerobic Digester Daily Volume',
       'BioGas Production Day Total', 'BioGas To Heaters Daily Mass',
       'Digested Sludge Combined Daily Volume',
       'Methane To Waste Burner Daily Mass',
       'Biogas Production Day Total', 'Methane To CoGen Daily Mass',
       'Sludge Volume Total To Dewatering Centrifuges',
       'BioGas To Heater 2 Daily Mass', 'RDT Feed Sludge Volume',
       'Biogas Production Daily Total',
       'Convas WAS Combined Daily Volume',
       'BioGas To Waste Burner Daily Volume',
       'Digester 5 BioGas Production Daily Mass',
       'Methane To Heaters Daily Mass', 'BioGas Methane Conc Avg',
       'Digester 3 BioGas Production Daily Mass',
       'Digester 4 BioGas Production Daily Mass',
       'Digesters Combined BioGas Production Daily Mass',
       'BioGas To CoGen Daily Volume',
       'Digester 2 BioGas Production Daily Volume',
       'Digester 3 BioGas Production Daily Volume',
       'BioGas Daily Mass Total',
       'Digester 2 BioGas Production Daily Mass', 'TWAS Daily Volume',
       'TWAS To Anaerobic Digester Daily Volume',
       'TWAS to Anaerobic Digester Daily Volume',
       'Raw Sludge Stream Multiflo Daily Volume',
       'BioGas Pre Carbon Filter Methane Conc Avg',
       'BioGas Storage Outer Membrane Methane Conc Avg',
       'Thickened Primary Sludge PK Daily Volume',
       'BioGas To Heater 1 Daily Mass',
       'Thickened Primary Sludge Daily Volume',
       'Thickened Primary Sludge B and W Daily Volume',
       'BioGas To Heater 2 Daily Volume',
       'BioGas To Heaters Daily Volume',
       'BioGas To Heaters Daily Volume Heater 1', 'Methane Fraction',
       'Digesters Combined BioGas Production Daily Volume',
       'Raw Sludge Combined Daily Volume Total',
       'BioGas To Heaters 1 Daily Volume',
       'Dewatering Centrifuge Feed Sludge Daily Volume',
       'Raw Sludge Combined Daily Volume To Digester',
       'BioGas To Waste Burner 1 Daily Volume',
       'BioGas To Waste Burner 2 Daily Volume',
       'RDT Thickened Sludge Daily Volume',
       'BioGas To Heater 1 Daily Volume',
       'BioGas To Heaters 2 Daily Volume', 'FCOD', 'COD in sludge',
       'Total Solids %'], dtype=object)

In [147]:
all_site_references = df_master["Site Code"].unique()
all_site_references

array(['CR0100', 'BO0004', 'BN0005', 'CR0003', 'BN0008', 'GF0020',
       'CH0005', 'NH0008', 'CH0006', 'MA0006', 'LP0015', 'LP0076',
       'DEPTH', 'WW0005', 'RM0016', 'RM0017', 'RH0005', 'RH0004',
       'SH0004', 'NH0009', 'MARIAV', 'MA0007', 'MA0008', 'RS0003',
       'QH0004', 'HH0005', 'WH0005', 'PI0001', 'WOILET', 'SM0005',
       'WO0005', 'LP0081', 'WOBERM', 'WOPKRM', 'WO0026', 'WC0005',
       'BK0005', 'TAP', 'BKILET', 'PRCRWO', 'GFSECE', 'LPSECE', 'BNDB2S',
       'BNDB1N', 'PI0013', 'PIILET', 'BNVAOF', 'BOILET', 'CHCATT',
       'CHGLEN', 'MACENF', 'GFTWAS', 'RHRW01', 'WWILET', 'QHILET',
       'PI0011', 'PR0005', 'PRILET', 'RHILET', 'RMILET', 'SHILET',
       'SMILET', 'WCILET', 'WHILET', 'WL0004', 'WM0004', 'HHILET',
       'LPINEW', 'GFILET', 'NRILET', 'NHPS67', 'NHS67N', 'NR0004',
       'ST0001 BONDI', 'ST0002 MALABAR', 'ST0009 LIVERPOOL',
       'ST0010 CRONULLA', 'ST0014 WOLLONGONG', 'ST0020 NORTH HEAD',
       'ST0023 GLENFIELD', 'ST0026 WARRIEWOOD', 'ST0027 SHELLHARBOUR',
       'ST0028 WEST CAMDEN', 'ST0011 ST MARYS', 'ST0021 WEST HORNSBY',
       'ST0040 HORNSBY HEIGHTS', 'ST0042 RIVERSTONE', 'ST0046 PENRITH',
       'ST0031 ROUSE HILL', 'ST0073 WALLACIA', 'ST0024 CASTLE HILL',
       'WMINEW', 'PIINEW', 'WWINEW', 'RSINEW', 'WLINEW', 'SMP007',
       'SMP009', 'SMP003', 'SMLSDT', 'SMLGIF', 'WMWASL', 'WMDGSL',
       'NHTRSL', 'RSDGSL', 'WLWAS', 'SHDGSL', 'WWRWSL', 'LPRWSL',
       'WOTRS6', 'WOTRS3', 'MARWSL', 'CRCENF', 'HHTWAS', 'HHDSD2',
       'WHDGSL', 'HHFRSL', 'BNDWFD', 'GFDGSL', 'RSTWAS', 'SHRWSL',
       'BNRWSL', 'SHTWAS', 'WCTWAS', 'GFRWSL', 'LPTHSL', 'WWTWAS',
       'SMTWAS', 'LPDGSL', 'CRCOSL', 'WCDSFP', 'WHFRSL', 'WOADDC',
       'WWDGSL', 'WLTK63', 'GFPSTE', 'CRCIFW', 'ENV1920_06', 'DSM', 'DBB',
       'DQH', 'DNH', 'DPE', 'DCR', 'DGF', 'BNDG1M', 'WODG5M', 'WODG3M',
       'WODG2M', 'BNDG4M', 'BNGRCT', 'WODG4M', 'BNGRIT', 'BNSCRE',
       'BNDG3T', 'BNDG4T', 'DWG', 'BNDG1B', 'DRS', 'DRM', 'DRH', 'WODG6M',
       'SHDG1M', 'MADWC', 'SHDG2M', 'DBN', 'BNDG3M', 'DLP', 'DWI',
       'WODG1M', 'DMA', 'BNDG3B', 'BNDG1T', 'DWC', 'DHH', 'BNSUPT',
       'WOGRIT', 'DWW', 'DPI', 'BNDG4B', 'DWL', 'DSH', 'CRGRIT', 'MAGRIT',
       'DSMI', 'DWII', 'DWGI', 'DRHI', 'DMAI', 'NHRDTFP', 'DBNI', 'DLPI',
       'DWCI', 'DCRI', 'DPEI', 'DGFI', 'DWWI', 'DHHI', 'Malabar',
       'Wollongong', 'Bondi', 'Liverpool', 'Warriewood', 'Quakers Hill',
       'St Marys', 'North Head', 'Rouse Hill', 'Glenfield', 'Cronulla',
       'Penrith', 'West Camden', 'Bombo', 'Shellharbour',
       'Hornsby Heights', 'Winmalee', 'Wallacia', 'Richmond',
       'Riverstone', 'Picton', 'North Richmond'], dtype=object)

In [148]:
rainfall_filename = r'C:\Users\t5s\03-NGER-2019-20\04-Data\09. Raw data from BI\WRP_&_WWTP_Flow_and_Rainfall_Measures-_Date_Range_Report___4997986.xlsx'

rainfall_workbook = openpyxl.load_workbook(rainfall_filename)

all_flow_rate_data = list()

def find_row_for_total_flow(worksheet):
    # total is in column B (normally in row 373)
    cells_in_column_b = worksheet["b4:b400"]
    for row in cells_in_column_b:
            for cell in row:
                # check if this column has a known site reference
                if (cell.value == "Total Flow"):
                    return cell.row

for worksheet_name in rainfall_workbook.sheetnames:
        worksheet = rainfall_workbook[worksheet_name]
        
        row_number_for_totals = find_row_for_total_flow(worksheet)
        if row_number_for_totals is None:
            continue
        
        # the rainfall and flow sampling point reference is on row 4
        flow_reference_cells = worksheet["C4:Z4"]
        for column in flow_reference_cells:
            for cell in column:
                # check if this column has a known site reference
                if (cell.value != None and len(cell.value) > 2):
                    column_letter_for_sampling_point = cell.column_letter
                    sampling_point = cell.value
                    
                    cell_reference_for_total_flow = f"{column_letter_for_sampling_point}{row_number_for_totals}"
                    total_flow_for_sampling_point = worksheet[cell_reference_for_total_flow].value
                    total_flow_for_sampling_point = 0 if total_flow_for_sampling_point == None else total_flow_for_sampling_point
                    all_flow_rate_data.append({ "catchment": worksheet_name, "sampling_point": sampling_point, "total_flow_for_sampling_point": total_flow_for_sampling_point})

flow_rate_df = pd.DataFrame(all_flow_rate_data)
flow_rate_df.head()

  catchment sampling_point  total_flow_for_sampling_point
0  Bellambi         568162                       1048.500
1  Bellambi         916025                        502.133
2     Bombo         568170                        682.500
3     Bombo         922010                       1652.596
4     Bombo         922020                       1210.169

In [149]:
flow_rate_datum = flow_rate_df.query(f"sampling_point == '901050'")
flow_rate_datum['total_flow_for_sampling_point'].values[0]

42654.879

In [150]:
df_master.columns

Index(['Analyte Name', 'Result Numeric Value', 'Result Sample Date',
       'Site Code', 'data_source'],
      dtype='object')

In [151]:
df_master['site_and_measurement_point'] = df_master.apply(lambda row: f"{row['Site Code']}-{row['Analyte Name']}-{row['data_source']}", axis=1)

In [152]:
df_master.head()

,Analyte Name,Result Numeric Value,Result Sample Date,Site Code,data_source,site_and_measurement_point
0,Ammonia NH3-N,36.4,2019-07-07 00:00:00,CR0100,General report,CR0100-Ammonia NH3-N-General report
1,Ammonia NH3-N,48.2,2019-09-05 00:00:00,CR0100,General report,CR0100-Ammonia NH3-N-General report
3,Ammonia NH3-N,79.6,2019-08-08 00:00:00,CR0100,General report,CR0100-Ammonia NH3-N-General report
4,Ammonia NH3-N,40.2,2019-10-05 00:00:00,CR0100,General report,CR0100-Ammonia NH3-N-General report
5,Ammonia NH3-N,49.5,2019-11-04 00:00:00,CR0100,General report,CR0100-Ammonia NH3-N-General report

In [153]:
bondi_master_data = df_master.query("`Site Code`.str.contains('BONDI')", engine='python')
bondi_master_data

,Analyte Name,Result Numeric Value,Result Sample Date,Site Code,data_source,site_and_measurement_point
0,BioGas To CoGen Daily Mass,18205.000000,2019-07-01 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-BioGas To CoGen Daily Mass-SCADA
334,Digester 3 BioGas Production Daily Mass,8688.000000,2019-07-01 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-Digester 3 BioGas Production Dail...
335,Raw Sludge Combined Daily Volume,1249.919111,2019-07-01 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-Raw Sludge Combined Daily Volume-...
420,Digester 1 BioGas Production Daily Mass,5404.000000,2019-07-01 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-Digester 1 BioGas Production Dail...
421,Digester 4 BioGas Production Daily Mass,6746.750000,2019-07-01 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-Digester 4 BioGas Production Dail...
...,...,...,...,...,...,...
820184,BioGas To CoGen Daily Mass,9320.000000,2020-06-26 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-BioGas To CoGen Daily Mass-SCADA
820185,BioGas To Waste Burner Daily Mass,4540.000000,2020-06-26 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-BioGas To Waste Burner Daily Mass...
820499,Raw Sludge Combined Daily Volume,984.443503,2020-06-27 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-Raw Sludge Combined Daily Volume-...
820784,BioGas Methane Conc Avg,66.491481,2020-06-28 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-BioGas Methane Conc Avg-SCADA
821080,Digester 2 BioGas Production Daily Mass,936.000000,2020-06-29 23:59:00,ST0001 BONDI,SCADA,ST0001 BONDI-Digester 2 BioGas Production Dail...

In [170]:
models = [
    {
        #Bondi - BN
        "query": f"`Site Code`.str.startswith('BN') or `Site Code`.str.upper().str.contains('BONDI')",
        "result_filename": "bondi-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen',
        'Chemical Oxygen Demand', 'BioGas To CoGen Daily Mass',
        'BioGas To Waste Burner Daily Mass',
        'BioGas To Heaters Daily Mass',
        'BioGas Methane Conc Avg',
        'Total Solids %','Volatile solids','Total Nitrogen'
       ]
    },
    {
        #Cronulla - CR
        "query": f"`Site Code`.str.startswith('CR') or `Site Code`.str.upper().str.contains('CRONULLA')",
        "result_filename": "CRONULLA-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','CBOD5','Chemical Oxygen Demand','BioGas To CoGen Daily Mass',
        'Total Solids %','Volatile solids','Total Nitrogen',
        'BioGas To Waste Burner Daily Mass',
        'BioGas To Heaters Daily Mass',
        'BioGas Methane Conc Avg','CODsludge','Primary and TWAS To Anaerobic Digester Daily Volume',  'Digested Sludge Combined Daily Volume' ]
    },
    
    {
        #Wollonggong
        "query": f"`Site Code`.str.startswith('WO') or `Site Code`.str.upper().str.contains('WOLLONGONG')",
        "result_filename": "WOLLONGONG-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','CBOD5','Chemical Oxygen Demand','BioGas To CoGen Daily Mass',
        'Total Solids %','Volatile solids','Total Nitrogen',
        'BioGas To Waste Burner Daily Mass',
        'BioGas To Heaters Daily Mass',
        'BioGas Methane Conc Avg','CODsludge','Sludge Volume Total To Dewatering Centrifuges',  'Thickened Primary Sludge B and W Daily Volume', 'Thickened Primary Sludge PK Daily Volume']
    },
    
    #Malabar-short for MA
    {
        "query": f"`Site Code`.str.startswith('MA') or `Site Code`.str.upper().str.contains('MALABAR')",
        "result_filename": "MALABAR-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','Chemical Oxygen Demand','BioGas To CoGen Daily Mass',
        'Total Solids %','Volatile solids','Total Nitrogen',
        'BioGas To Waste Burner Daily Mass',
        'BioGas To Heaters Daily Mass',
        'BioGas Methane Conc Avg']
    },
    
    #Glenfield-short for GF
    
    {
        "query": f"`Site Code`.str.startswith('GF') or `Site Code`.str.upper().str.contains('GLENFIELD')",
        "result_filename": "GLENFIELD-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','Chemical Oxygen Demand','CBOD5','CODsludge','Raw Sludge Combined Daily Volume','TWAS To Anaerobic Digester Daily Volume','Digested Sludge Combined Daily Volume','BioGas To CoGen Daily Mass',
        'BioGas To Waste Burner Daily Mass',
        'Total Solids %','Volatile solids','Total Nitrogen',
        'BioGas To Heaters Daily Mass',
        'BioGas Methane Conc Avg']
    },
    
    #Liverpool-short for LP
    
    {
        "query": f"`Site Code`.str.startswith('LP') or `Site Code`.str.upper().str.contains('LIVERPOOL')",
        "result_filename": "LIVERPOOL-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','Chemical Oxygen Demand','CBOD5','CODsludge','Raw Sludge Combined Daily Volume','TWAS To Anaerobic Digester Daily Volume','Digested Sludge Combined Daily Volume','BioGas To CoGen Daily Mass',
        'BioGas To Waste Burner Daily Mass',
        'Total Solids %','Volatile solids','Total Nitrogen',
        'BioGas To Heaters Daily Mass',
        'BioGas Methane Conc Avg']
    },
    
    #North Head-short for NH
    
    {
        "query": f"`Site Code`.str.startswith('NH') or `Site Code`.str.upper().str.contains('NORTH HEAD')",
        "result_filename": "NORTH-HEAD-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','Chemical Oxygen Demand','Digesters Combined BioGas Production Daily Mass',
        'BioGas To Waste Burner Daily Mass',
        'BioGas Methane Conc Avg', 'Total Solids %','Volatile solids','Total Nitrogen']
    },
    
     #Penrith-short for PR
    
    {
        "query": f"`Site Code`.str.startswith('PR') or `Site Code`.str.upper().str.contains('PENRITH')",
        "result_filename": "PENRITH-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','Chemical Oxygen Demand','CBOD5','Total Solids %',
        'Volatile solids','Total Nitrogen'
        ]
    },
    
    
     #Quakers Hill-short for QH
    
    {
        "query": f"`Site Code`.str.startswith('QH') or `Site Code`.str.upper().str.contains('QUAKERS HILL')",
        "result_filename": "Quakers-Hill-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','Chemical Oxygen Demand','CBOD5',
        'Total Solids %','Volatile solids','Total Nitrogen'
        
        ]
    },
    
      #St Marys-short for SM
    
    {
        "query": f"`Site Code`.str.startswith('SM') or `Site Code`.str.upper().str.contains('ST MARYS')",
        "result_filename": "ST-MARYS-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','Chemical Oxygen Demand','CBOD5','CODsludge',
        'Digested Sludge Combined Daily Volume',
         'Total Solids %','Volatile solids','Total Nitrogen'
        ]
    },
    
     #Shellharbour-short for SH
    
    {
        "query": f"`Site Code`.str.startswith('SH') or `Site Code`.str.upper().str.contains('SHELLHARBOUR')",
        "result_filename": "SHELLHARBOUR-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','Chemical Oxygen Demand','CBOD5','CODsludge',
        'Raw Sludge Combined Daily Volume','TWAS Daily Volume','Biogas Production Daily Total',
        'BioGas To Heaters Daily Volume','TWAS To Anaerobic Digester Daily Volume','Digested Sludge Combined Daily Volume',
        'Total Solids %','Volatile solids','Total Nitrogen'
        ]
    },
    
     #Rouse Hill-short for RH
    
    {
        "query": f"`Site Code`.str.startswith('RH') or `Site Code`.str.upper().str.contains('ROUSE HILL')",
        "result_filename": "ROUSE-HILL-raw-data.xlsx",
        "analyte_names_to_include": ['Total Nitrogen','Chemical Oxygen Demand','CBOD5',
        'Total Solids %','Volatile solids','Total Nitrogen'
        ]
    },
]

for model in models:
    model_master_data = df_master.query(model['query'], engine='python')
    model_master_data = model_master_data[model_master_data['Analyte Name'].isin(model['analyte_names_to_include'])]
    model_master_data.to_excel(model['result_filename'])

In [168]:
flow_rate_df.to_excel('flow_rate.xlsx')
df_master.to_excel('master_data.xlsx')

In [169]:
def get_data_for_analyte(data_for_site, analyte_name):
    analyte_data = data_for_site.query(f"`Analyte Name` == '{analyte_name}'")
    return analyte_data

workbook_filenames = [
    r'C:\Users\t5s\03-NGER-2019-20\06-Models\01. Models - Test\01.Bondi Facility WSAA - GHG and Energy Inventory Assessment (2019-20).xlsx',
    r'C:\Users\t5s\03-NGER-2019-20\06-Models\01. Models - Test\02.Cronulla Facility WSAA - GHG and Energy Inventory Assessment (2019-20).xlsx',
    r'C:\Users\t5s\03-NGER-2019-20\06-Models\01. Models - Test\03.Malabar Facility WSAA - GHG&Energy Inventory Assessment(2019-20).xlsx'
]

# Finds out which analytes are in use for a site in the WASAA model spreadsheet
# @param  column_letter_for_site  The column letter, e.g. D. Data for a site is found in a single column.
#                                 e.g. in the Bondi model, BN008 is in column D in worksheet 5A1. Bondi WWT (Data)
# @param  worksheet               The worksheet to look for data
# @return a list of dicts with keys analyte_name (the name of the analyte) and analyte_cell_range (the range where data
#         for that analyte should be pasted)
# @example [{ "analyte_name": "Total Nitrogen", "analyte_cell_range": "D19:D384" }]
def find_analytes(column_letter_for_site, worksheet):
    # We know that the analyte parameter name is in row 8 (for the first analyte)
    # and row 386 (for the second analyte)
    ROW_FOR_PARAMETER_NAME_ONE = 8
    ROW_FOR_PARAMETER_NAME_TWO = 386
    analyte_name_cells = [
        f"{column_letter_for_site}{ROW_FOR_PARAMETER_NAME_ONE}",
        f"{column_letter_for_site}{ROW_FOR_PARAMETER_NAME_TWO}"
    ]
    analytes = list()
    for analyte_name_cell in analyte_name_cells:
        cell = worksheet[analyte_name_cell]

        # the data starts 11 rows after the parameter name
        ANALYTE_DATA_ROW_START_OFFSET = 11
        TOTAL_NUM_ROWS_OF_DATA = 366
        ANALYTE_DATA_ROW_END_OFFSET = ANALYTE_DATA_ROW_START_OFFSET + TOTAL_NUM_ROWS_OF_DATA
        analyte_data_start_cell_reference = f"{cell.column_letter}{cell.row + ANALYTE_DATA_ROW_START_OFFSET}"
        analyte_data_end_cell_reference = f"{cell.column_letter}{cell.row + ANALYTE_DATA_ROW_END_OFFSET}"
        analytes.append({
            "analyte_name": cell.value,
            "analyte_cell_range": f"{analyte_data_start_cell_reference}:{analyte_data_end_cell_reference}"
        })
    
    return analytes

# Pastes analyte data for a site into the WASAA model spreadsheet
# @param  all_data  All the analyte data retrieved from BI
# @param  site_reference  e.g. BN0008
# @param  worksheet  The worksheet where data for that site belongs
# @param  column_letter_for_site  The column letter, e.g. D. Data for a site is found in a single column.
#                                 e.g. in the Bondi model, BN008 is in column D in worksheet 5A1. Bondi WWT (Data)
# @return void
def populate_data_for_model(all_data, site_reference, worksheet, column_letter_for_site):
    data_for_site = all_data.query(f"`Site Code` == '{site_reference}'")
  
    analytes = find_analytes(column_letter_for_site, worksheet)
    
    for analyte in analytes:
        analyte_name = analyte["analyte_name"]
        data_for_analyte = get_data_for_analyte(data_for_site, analyte_name)
        
        cell_range = worksheet[analyte["analyte_cell_range"]]
                
        idx = 0
        for row in cell_range:
            for cell in row:
                # check if there is still data - there might be less than 366 rows in the data
                if (idx < len(data_for_analyte['Result Numeric Value'])):
                    analyte_value_for_this_day = data_for_analyte['Result Numeric Value'].iloc[idx]
                    if (analyte_value_for_this_day != None and analyte_value_for_this_day != float('nan')):
                        cell.value = analyte_value_for_this_day
            idx = idx + 1
            
def populate_analyte_data(worksheet):
     # the site reference is on row 6
    site_reference_cells = worksheet["A6:AZ6"]
    for column in site_reference_cells:
        for cell in column:
            # check if this column has a known site reference
            if (cell.value != None and cell.value in all_site_references):
                print(f"Found site ref {cell.value} in worksheet {worksheet}. Processing...")
                column_letter_for_site = cell.column_letter
                site_reference = cell.value
                populate_data_for_model(all_data, site_reference, worksheet, column_letter_for_site)

all_flow_rate_sampling_point_references = flow_rate_df.sampling_point.unique()

from openpyxl.utils import get_column_letter

def find_flow_rate_location(worksheet, site_reference_cell):
    # this is to find the flow rate location so that data can be copied and pasted to WSAA model
    
    FLOW_DATA_ROW_START_OFFSET = 2
    TOTAL_NUM_ROWS_OF_FLOW_DATA = 4
    FLOW_DATA_ROW_END_OFFSET = FLOW_DATA_ROW_START_OFFSET + TOTAL_NUM_ROWS_OF_FLOW_DATA
    flow_data_start_cell_reference = f"{site_reference_cell.column_letter}{site_reference_cell.row + FLOW_DATA_ROW_START_OFFSET}"
    flow_data_end_cell_reference = f"{site_reference_cell.column_letter}{site_reference_cell.row + FLOW_DATA_ROW_END_OFFSET}"
        
    search_range = f"{flow_data_start_cell_reference}:{flow_data_end_cell_reference}"
    cells_in_search_rage_flow_rate = worksheet[search_range]
    for row in cells_in_search_rage_flow_rate:
            for cell in row:
                # check if this column has a known site reference
                if (cell.value == "Flow rate"):
                    # we put the flow rate 1 column across from the flow rate label
                    column_letter_for_flow_rate = get_column_letter(cell.column + 1)
                    return f"{column_letter_for_flow_rate}{cell.row}"

def populate_flow_rate_data(worksheet):
     # the sampling point reference is on row 17
    sampling_point_cells = worksheet["A16:AZ17"]
    for column in sampling_point_cells:
        for cell in column:
            # check if this column has a known site reference
            if (cell.value != None and str(cell.value) in all_flow_rate_sampling_point_references):
                sampling_point_ref = str(cell.value)
                print(f"Found sampling point ref {cell.value} in worksheet {worksheet}. Processing...")
                cell_reference_for_flow_Rate = find_flow_rate_location(worksheet, cell)
                print(cell_reference_for_flow_Rate)
                cell_for_flow_rate = worksheet[cell_reference_for_flow_Rate]
                
                print(f"sampling_point == {sampling_point_ref}")
                flow_rate_datum = flow_rate_df.query(f"sampling_point == '{sampling_point_ref}'")
                cell_for_flow_rate.value = flow_rate_datum['total_flow_for_sampling_point'].values[0]
                
for workbook_filename in workbook_filenames:
    print(f"processing workbook {workbook_filename}")
    workbook = openpyxl.load_workbook(workbook_filename)
    print("Loaded workbook")
    for worksheet_name in workbook.sheetnames:
        worksheet = workbook[worksheet_name]
        print(f"Processing worksheet {worksheet}")
#         populate_analyte_data(worksheet)
        print(worksheet)
    
        if ("PFD" in worksheet_name): 
            populate_flow_rate_data(worksheet)

    workbook.save(workbook_filename)
print("done")

processing workbook C:\Users\t5s\03-NGER-2019-20\06-Models\01. Models - Test\01.Bondi Facility WSAA - GHG and Energy Inventory Assessment (2019-20).xlsx
Loaded workbook
Processing worksheet <Worksheet "Logbook">
<Worksheet "Logbook">
Processing worksheet <Worksheet "1. General">
<Worksheet "1. General">
Processing worksheet <Worksheet "2. Fuels">
<Worksheet "2. Fuels">
Processing worksheet <Worksheet "2A. Fuels (Con.)">
<Worksheet "2A. Fuels (Con.)">
Processing worksheet <Worksheet "3. Fuel Fugitives">
<Worksheet "3. Fuel Fugitives">
Processing worksheet <Worksheet "4. HFCs & SF6">
<Worksheet "4. HFCs & SF6">
Processing worksheet <Worksheet "5A1. Bondi WWT (PFD)">
<Worksheet "5A1. Bondi WWT (PFD)">
Found sampling point ref 901050 in worksheet <Worksheet "5A1. Bondi WWT (PFD)">. Processing...
AJ19
sampling_point == 901050
Found sampling point ref 901050 in worksheet <Worksheet "5A1. Bondi WWT (PFD)">. Processing...
D19
sampling_point == 901050
Found sampling point ref 901050 in worksheet <Worksheet "5A1. Bondi WWT (PFD)">. Processing...
O19
sampling_point == 901050
Processing worksheet <Worksheet "Biogas data">
<Worksheet "Biogas data">
Processing worksheet <Worksheet "days in year">
<Worksheet "days in year">
Processing worksheet <Worksheet "5A1. Bondi WWT (Data)">
<Worksheet "5A1. Bondi WWT (Data)">
Processing worksheet <Worksheet "Bondi Assump">
<Worksheet "Bondi Assump">
Processing worksheet <Worksheet "5A1. Bondi WWT (Calcs)">
<Worksheet "5A1. Bondi WWT (Calcs)">
Processing worksheet <Worksheet "5A2. WWT (PFD)">
<Worksheet "5A2. WWT (PFD)">
Processing worksheet <Worksheet "5A2. WWT (Data)">
<Worksheet "5A2. WWT (Data)">
Processing worksheet <Worksheet "5A2. WWT (Calcs)">
<Worksheet "5A2. WWT (Calcs)">
Processing worksheet <Worksheet "5A3. WWT (PFD)">
<Worksheet "5A3. WWT (PFD)">
Processing worksheet <Worksheet "5A3. WWT (Data)">
<Worksheet "5A3. WWT (Data)">
Processing worksheet <Worksheet "5A3. WWT (Calcs)">
<Worksheet "5A3. WWT (Calcs)">
Processing worksheet <Worksheet "5A4. WWT (PFD)">
<Worksheet "5A4. WWT (PFD)">
Processing worksheet <Worksheet "5A4. WWT (Data)">
<Worksheet "5A4. WWT (Data)">
Processing worksheet <Worksheet "5A4. WWT (Calcs)">
<Worksheet "5A4. WWT (Calcs)">
Processing worksheet <Worksheet "5A5. WWT (PFD)">
<Worksheet "5A5. WWT (PFD)">
Processing worksheet <Worksheet "5A5. WWT (Data)">
<Worksheet "5A5. WWT (Data)">
Processing worksheet <Worksheet "5A5. WWT (Calcs)">
<Worksheet "5A5. WWT (Calcs)">
Processing worksheet <Worksheet "5A6. WWT (PFD)">
<Worksheet "5A6. WWT (PFD)">
Processing worksheet <Worksheet "5A6. WWT (Data)">
<Worksheet "5A6. WWT (Data)">
Processing worksheet <Worksheet "5A6. WWT (Calcs)">
<Worksheet "5A6. WWT (Calcs)">
Processing worksheet <Worksheet "5A7. WWT (PFD)">
<Worksheet "5A7. WWT (PFD)">
Processing worksheet <Worksheet "5A7. WWT (Data)">
<Worksheet "5A7. WWT (Data)">
Processing worksheet <Worksheet "5A7. WWT (Calcs)">
<Worksheet "5A7. WWT (Calcs)">
Processing worksheet <Worksheet "5A8. WWT (PFD)">
<Worksheet "5A8. WWT (PFD)">
Processing worksheet <Worksheet "5A8. WWT (Data)">
<Worksheet "5A8. WWT (Data)">
Processing worksheet <Worksheet "5A8. WWT (Calcs)">
<Worksheet "5A8. WWT (Calcs)">
Processing worksheet <Worksheet "5A9. WWT (PFD)">
<Worksheet "5A9. WWT (PFD)">
Processing worksheet <Worksheet "5A9. WWT (Data)">
<Worksheet "5A9. WWT (Data)">
Processing worksheet <Worksheet "5A9. WWT (Calcs)">
<Worksheet "5A9. WWT (Calcs)">
Processing worksheet <Worksheet "5A10. WWT (PFD)">
<Worksheet "5A10. WWT (PFD)">
Processing worksheet <Worksheet "5A10. WWT (Data)">
<Worksheet "5A10. WWT (Data)">
Processing worksheet <Worksheet "5A10. WWT (Calcs)">
<Worksheet "5A10. WWT (Calcs)">
Processing worksheet <Worksheet "5A11. WWT (PFD)">
<Worksheet "5A11. WWT (PFD)">
Processing worksheet <Worksheet "5A11. WWT (Data)">
<Worksheet "5A11. WWT (Data)">
Processing worksheet <Worksheet "5A11. WWT (Calcs)">
<Worksheet "5A11. WWT (Calcs)">
Processing worksheet <Worksheet "5A12. WWT (PFD)">
<Worksheet "5A12. WWT (PFD)">
Processing worksheet <Worksheet "5A12. WWT (Data)">
<Worksheet "5A12. WWT (Data)">
Processing worksheet <Worksheet "5A12. WWT (Calcs)">
<Worksheet "5A12. WWT (Calcs)">
Processing worksheet <Worksheet "5A13. WWT (PFD)">
<Worksheet "5A13. WWT (PFD)">
Processing worksheet <Worksheet "5A13. WWT (Data)">
<Worksheet "5A13. WWT (Data)">
Processing worksheet <Worksheet "5A13. WWT (Calcs)">
<Worksheet "5A13. WWT (Calcs)">
Processing worksheet <Worksheet "5A14. WWT (PFD)">
<Worksheet "5A14. WWT (PFD)">
Processing worksheet <Worksheet "5A14. WWT (Data)">
<Worksheet "5A14. WWT (Data)">
Processing worksheet <Worksheet "5A14. WWT (Calcs)">
<Worksheet "5A14. WWT (Calcs)">
Processing worksheet <Worksheet "5A15. WWT (PFD)">
<Worksheet "5A15. WWT (PFD)">
Processing worksheet <Worksheet "5A15. WWT (Data)">
<Worksheet "5A15. WWT (Data)">
Processing worksheet <Worksheet "5A15. WWT (Calcs)">
<Worksheet "5A15. WWT (Calcs)">
Processing worksheet <Worksheet "5A16. WWT (PFD)">
<Worksheet "5A16. WWT (PFD)">
Processing worksheet <Worksheet "5A16. WWT (Data)">
<Worksheet "5A16. WWT (Data)">
Processing worksheet <Worksheet "5A16. WWT (Calcs)">
<Worksheet "5A16. WWT (Calcs)">
Processing worksheet <Worksheet "5B. Solid Waste">
<Worksheet "5B. Solid Waste">
Processing worksheet <Worksheet "6A. Energy Prod.">
<Worksheet "6A. Energy Prod.">
Processing worksheet <Worksheet "6B. Energy Con.">
<Worksheet "6B. Energy Con.">
Processing worksheet <Worksheet "7. Electricity">
<Worksheet "7. Electricity">
Processing worksheet <Worksheet "7A. Electricity (Con.)">
<Worksheet "7A. Electricity (Con.)">
Processing worksheet <Worksheet "8. Chemicals">
<Worksheet "8. Chemicals">
Processing worksheet <Worksheet "9. Livestock">
<Worksheet "9. Livestock">
Processing worksheet <Worksheet "10. Travel">
<Worksheet "10. Travel">
Processing worksheet <Worksheet "11. Consumables">
<Worksheet "11. Consumables">
Processing worksheet <Worksheet "12. Offsets">
<Worksheet "12. Offsets">
Processing worksheet <Worksheet "12A. Offsets (Con.)">
<Worksheet "12A. Offsets (Con.)">
Processing worksheet <Worksheet "Results Summary">
<Worksheet "Results Summary">
Processing worksheet <Chartsheet "Ch-Source">
<Chartsheet "Ch-Source">
Processing worksheet <Chartsheet "Ch-Element">
<Chartsheet "Ch-Element">
Processing worksheet <Worksheet "Tables Assump">
<Worksheet "Tables Assump">
Processing worksheet <Worksheet "Tables">
<Worksheet "Tables">
Processing worksheet <Worksheet "Flight Data">
<Worksheet "Flight Data">
Processing worksheet <Worksheet "Hotel Data">
<Worksheet "Hotel Data">
Processing worksheet <Worksheet "Sheet1">
<Worksheet "Sheet1">
processing workbook C:\Users\t5s\03-NGER-2019-20\06-Models\01. Models - Test\02.Cronulla Facility WSAA - GHG and Energy Inventory Assessment (2019-20).xlsx
Loaded workbook
Processing worksheet <Worksheet "1. General">
<Worksheet "1. General">
Processing worksheet <Worksheet "Logbook">
<Worksheet "Logbook">
Processing worksheet <Worksheet "2. Fuels">
<Worksheet "2. Fuels">
Processing worksheet <Worksheet "2A. Fuels (Con.)">
<Worksheet "2A. Fuels (Con.)">
Processing worksheet <Worksheet "3. Fuel Fugitives">
<Worksheet "3. Fuel Fugitives">
Processing worksheet <Worksheet "4. HFCs & SF6">
<Worksheet "4. HFCs & SF6">
Processing worksheet <Worksheet "5A1. Cronulla WWT (PFD)">
<Worksheet "5A1. Cronulla WWT (PFD)">
Found sampling point ref 910024 in worksheet <Worksheet "5A1. Cronulla WWT (PFD)">. Processing...
AJ19
sampling_point == 910024
Found sampling point ref 910024 in worksheet <Worksheet "5A1. Cronulla WWT (PFD)">. Processing...
D19
sampling_point == 910024
Processing worksheet <Worksheet "Biogas data">
<Worksheet "Biogas data">
Processing worksheet <Worksheet "days in year">
<Worksheet "days in year">
Processing worksheet <Worksheet "Assump Cronulla">
<Worksheet "Assump Cronulla">
Processing worksheet <Worksheet "5A1. Cronulla WWT (Data)">
<Worksheet "5A1. Cronulla WWT (Data)">
Processing worksheet <Worksheet "5A1. Cronulla WWT (Calcs)">
<Worksheet "5A1. Cronulla WWT (Calcs)">
Processing worksheet <Worksheet "5A2. WWT (PFD)">
<Worksheet "5A2. WWT (PFD)">
Processing worksheet <Worksheet "5A2. WWT (Data)">
<Worksheet "5A2. WWT (Data)">
Processing worksheet <Worksheet "5A2. WWT (Calcs)">
<Worksheet "5A2. WWT (Calcs)">
Processing worksheet <Worksheet "5A3. WWT (PFD)">
<Worksheet "5A3. WWT (PFD)">
Processing worksheet <Worksheet "5A3. WWT (Data)">
<Worksheet "5A3. WWT (Data)">
Processing worksheet <Worksheet "5A3. WWT (Calcs)">
<Worksheet "5A3. WWT (Calcs)">
Processing worksheet <Worksheet "5A4. WWT (PFD)">
<Worksheet "5A4. WWT (PFD)">
Processing worksheet <Worksheet "5A4. WWT (Data)">
<Worksheet "5A4. WWT (Data)">
Processing worksheet <Worksheet "5A4. WWT (Calcs)">
<Worksheet "5A4. WWT (Calcs)">
Processing worksheet <Worksheet "5A5. WWT (PFD)">
<Worksheet "5A5. WWT (PFD)">
Processing worksheet <Worksheet "5A5. WWT (Data)">
<Worksheet "5A5. WWT (Data)">
Processing worksheet <Worksheet "5A5. WWT (Calcs)">
<Worksheet "5A5. WWT (Calcs)">
Processing worksheet <Worksheet "5A6. WWT (PFD)">
<Worksheet "5A6. WWT (PFD)">
Processing worksheet <Worksheet "5A6. WWT (Data)">
<Worksheet "5A6. WWT (Data)">
Processing worksheet <Worksheet "5A6. WWT (Calcs)">
<Worksheet "5A6. WWT (Calcs)">
Processing worksheet <Worksheet "5A7. WWT (PFD)">
<Worksheet "5A7. WWT (PFD)">
Processing worksheet <Worksheet "5A7. WWT (Data)">
<Worksheet "5A7. WWT (Data)">
Processing worksheet <Worksheet "5A7. WWT (Calcs)">
<Worksheet "5A7. WWT (Calcs)">
Processing worksheet <Worksheet "5A8. WWT (PFD)">
<Worksheet "5A8. WWT (PFD)">
Processing worksheet <Worksheet "5A8. WWT (Data)">
<Worksheet "5A8. WWT (Data)">
Processing worksheet <Worksheet "5A8. WWT (Calcs)">
<Worksheet "5A8. WWT (Calcs)">
Processing worksheet <Worksheet "5A9. WWT (PFD)">
<Worksheet "5A9. WWT (PFD)">
Processing worksheet <Worksheet "5A9. WWT (Data)">
<Worksheet "5A9. WWT (Data)">
Processing worksheet <Worksheet "5A9. WWT (Calcs)">
<Worksheet "5A9. WWT (Calcs)">
Processing worksheet <Worksheet "5A10. WWT (PFD)">
<Worksheet "5A10. WWT (PFD)">
Processing worksheet <Worksheet "5A10. WWT (Data)">
<Worksheet "5A10. WWT (Data)">
Processing worksheet <Worksheet "5A10. WWT (Calcs)">
<Worksheet "5A10. WWT (Calcs)">
Processing worksheet <Worksheet "5A11. WWT (PFD)">
<Worksheet "5A11. WWT (PFD)">
Processing worksheet <Worksheet "5A11. WWT (Data)">
<Worksheet "5A11. WWT (Data)">
Processing worksheet <Worksheet "5A11. WWT (Calcs)">
<Worksheet "5A11. WWT (Calcs)">
Processing worksheet <Worksheet "5A12. WWT (PFD)">
<Worksheet "5A12. WWT (PFD)">
Processing worksheet <Worksheet "5A12. WWT (Data)">
<Worksheet "5A12. WWT (Data)">
Processing worksheet <Worksheet "5A12. WWT (Calcs)">
<Worksheet "5A12. WWT (Calcs)">
Processing worksheet <Worksheet "5A13. WWT (PFD)">
<Worksheet "5A13. WWT (PFD)">
Processing worksheet <Worksheet "5A13. WWT (Data)">
<Worksheet "5A13. WWT (Data)">
Processing worksheet <Worksheet "5A13. WWT (Calcs)">
<Worksheet "5A13. WWT (Calcs)">
Processing worksheet <Worksheet "5A14. WWT (PFD)">
<Worksheet "5A14. WWT (PFD)">
Processing worksheet <Worksheet "5A14. WWT (Data)">
<Worksheet "5A14. WWT (Data)">
Processing worksheet <Worksheet "5A14. WWT (Calcs)">
<Worksheet "5A14. WWT (Calcs)">
Processing worksheet <Worksheet "5A15. WWT (PFD)">
<Worksheet "5A15. WWT (PFD)">
Processing worksheet <Worksheet "5A15. WWT (Data)">
<Worksheet "5A15. WWT (Data)">
Processing worksheet <Worksheet "5A15. WWT (Calcs)">
<Worksheet "5A15. WWT (Calcs)">
Processing worksheet <Worksheet "5A16. WWT (PFD)">
<Worksheet "5A16. WWT (PFD)">
Processing worksheet <Worksheet "5A16. WWT (Data)">
<Worksheet "5A16. WWT (Data)">
Processing worksheet <Worksheet "5A16. WWT (Calcs)">
<Worksheet "5A16. WWT (Calcs)">
Processing worksheet <Worksheet "5B. Solid Waste">
<Worksheet "5B. Solid Waste">
Processing worksheet <Worksheet "6A. Energy Prod.">
<Worksheet "6A. Energy Prod.">
Processing worksheet <Worksheet "6B. Energy Con.">
<Worksheet "6B. Energy Con.">
Processing worksheet <Worksheet "7. Electricity">
<Worksheet "7. Electricity">
Processing worksheet <Worksheet "7A. Electricity (Con.)">
<Worksheet "7A. Electricity (Con.)">
Processing worksheet <Worksheet "8. Chemicals">
<Worksheet "8. Chemicals">
Processing worksheet <Worksheet "9. Livestock">
<Worksheet "9. Livestock">
Processing worksheet <Worksheet "10. Travel">
<Worksheet "10. Travel">
Processing worksheet <Worksheet "11. Consumables">
<Worksheet "11. Consumables">
Processing worksheet <Worksheet "12. Offsets">
<Worksheet "12. Offsets">
Processing worksheet <Worksheet "12A. Offsets (Con.)">
<Worksheet "12A. Offsets (Con.)">
Processing worksheet <Worksheet "Results Summary">
<Worksheet "Results Summary">
Processing worksheet <Chartsheet "Ch-Source">
<Chartsheet "Ch-Source">
Processing worksheet <Chartsheet "Ch-Element">
<Chartsheet "Ch-Element">
Processing worksheet <Worksheet "Tables">
<Worksheet "Tables">
Processing worksheet <Worksheet "Flight Data">
<Worksheet "Flight Data">
Processing worksheet <Worksheet "Hotel Data">
<Worksheet "Hotel Data">
Processing worksheet <Worksheet "Sheet1">
<Worksheet "Sheet1">

processing workbook C:\Users\t5s\03-NGER-2019-20\06-Models\01. Models - Test\03.Malabar Facility WSAA - GHG&Energy Inventory Assessment(2019-20).xlsx
Loaded workbook
Processing worksheet <Worksheet "1. General">
<Worksheet "1. General">
Processing worksheet <Worksheet "2. Fuels">
<Worksheet "2. Fuels">
Processing worksheet <Worksheet "Logbook">
<Worksheet "Logbook">
Processing worksheet <Worksheet "2A. Fuels (Con.)">
<Worksheet "2A. Fuels (Con.)">
Processing worksheet <Worksheet "3. Fuel Fugitives">
<Worksheet "3. Fuel Fugitives">
Processing worksheet <Worksheet "4. HFCs & SF6">
<Worksheet "4. HFCs & SF6">
Processing worksheet <Worksheet "Malabar Assump">
<Worksheet "Malabar Assump">
Processing worksheet <Worksheet "5A1. Malabar WWT (PFD)">
<Worksheet "5A1. Malabar WWT (PFD)">
Processing worksheet <Worksheet "5A1. Malabar WWT (Data)">
<Worksheet "5A1. Malabar WWT (Data)">
Processing worksheet <Worksheet "5A1. Malabar WWT (Calcs)">
<Worksheet "5A1. Malabar WWT (Calcs)">
Processing worksheet <Worksheet "Glenfield Assump">
<Worksheet "Glenfield Assump">
Processing worksheet <Worksheet "5A2. Glenfield WWT (Calcs)">
<Worksheet "5A2. Glenfield WWT (Calcs)">
Processing worksheet <Worksheet "5A2. Glenfield WWT (PFD)">
<Worksheet "5A2. Glenfield WWT (PFD)">
Processing worksheet <Worksheet "5A2. Glenfield WWT (Data)">
<Worksheet "5A2. Glenfield WWT (Data)">
Processing worksheet <Worksheet "Liverpool Assump">
<Worksheet "Liverpool Assump">
Processing worksheet <Worksheet "5A3. Liverpool WWT (PFD)">
<Worksheet "5A3. Liverpool WWT (PFD)">
Processing worksheet <Worksheet "5A3. Liverpool WWT (Data)">
<Worksheet "5A3. Liverpool WWT (Data)">
Processing worksheet <Worksheet "5A3. Liverpool WWT (Calcs)">
<Worksheet "5A3. Liverpool WWT (Calcs)">
Processing worksheet <Worksheet "5B. Solid Waste">
<Worksheet "5B. Solid Waste">
Processing worksheet <Worksheet "6A. Energy Prod.">
<Worksheet "6A. Energy Prod.">
Processing worksheet <Worksheet "6B. Energy Con.">
<Worksheet "6B. Energy Con.">
Processing worksheet <Worksheet "7. Electricity">
<Worksheet "7. Electricity">
Processing worksheet <Worksheet "7A. Electricity (Con.)">
<Worksheet "7A. Electricity (Con.)">
Processing worksheet <Worksheet "8. Chemicals">
<Worksheet "8. Chemicals">
Processing worksheet <Worksheet "9. Livestock">
<Worksheet "9. Livestock">
Processing worksheet <Worksheet "10. Travel">
<Worksheet "10. Travel">
Processing worksheet <Worksheet "11. Consumables">
<Worksheet "11. Consumables">
Processing worksheet <Worksheet "12. Offsets">
<Worksheet "12. Offsets">
Processing worksheet <Worksheet "12A. Offsets (Con.)">
<Worksheet "12A. Offsets (Con.)">
Processing worksheet <Worksheet "Results Summary">
<Worksheet "Results Summary">
Processing worksheet <Chartsheet "Ch-Source">
<Chartsheet "Ch-Source">
Processing worksheet <Chartsheet "Ch-Element">
<Chartsheet "Ch-Element">
Processing worksheet <Worksheet "Tables">
<Worksheet "Tables">
Processing worksheet <Worksheet "Flight Data">
<Worksheet "Flight Data">
Processing worksheet <Worksheet "Hotel Data">
<Worksheet "Hotel Data">
Processing worksheet <Worksheet "Sheet1">
<Worksheet "Sheet1">
done